body {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #283136;
}

h1 {
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: normal;
    font-size: 45px;
    line-height: 45px;
    color: #000000;
}

h2 {
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    font-weight: bold;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 1160px;
    margin: 0 auto;
}

.clearfix:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* ===============================================
                    ГЛАВНАЯ СТРАНИЦА
    ============================================== */

/* Шапка */

.main-header h1 {
    width: 650px;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.5;
    padding-top: 11px;
    padding-bottom: 82px;
    font-weight: normal;
}

.main-header {
    width: auto;
    background-color: #eeeeee;
    margin-bottom: 80px;
}

/* Логотип */

.logo {
    float: left;
    width: 139px;
    height: 56px;
    margin-top: 27px;
}

/* Меню */

.main-menu {
    float: left;
    margin-left: 180px;
    max-width: 440px;
    min-height: 30px;
    margin-top: 50px;
}

.main-menu a {
    padding: 5px 5px;
    text-decoration: none;
    color: #000000;
}

.main-menu a:last-child {
    margin-right: 0px;
}

.basket-menu a:hover, 
.main-menu a:hover {
    color: #fb565a;
}

.main-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
}

.main-menu li {
    display: inline-block;
    margin-right: 40px;
    vertical-align: top;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
}

.main-menu li:nth-child(4n+4) {
    margin-right: 0;
}

/* Корзина */

.basket-menu {
    float: right;
    position: relative;
    min-height: 30px;
    max-width: 100px;
    margin-top: 50px;
    padding-left: 26px;
}

.basket-menu a{
    padding: 5px 5px;
    text-decoration: none;
    color: #000000;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
}
 
.main-menu a:hover,
.basket-menu a:hover {
    color: #fb565a;
}

.basket-menu a:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 15%;
    background: url("../img/cart-icon.png") no-repeat #eeeeee;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
    background-position: -6px -5px;
}

.basket-menu a:hover {
    width: 15px;
    height: 15px;
    background-position: -6px -55px;
}

.main-menu a:active, 
.basket-menu a:active {
    color: #8f8f8f;
}

.basket-menu a:hover:before {
  width: 15px;
  height: 15px;
  background-position: -6px -55px;
}

.basket-menu a:active:before {
  width: 15px;
  height: 15px;
  background-position: -6px -30px;
}

/* Слайды */

.slider {
    position: relative;
    width: 100%;
    min-height: 420px;
    margin: 0 auto;
    overflow: hidden;
}

.slider input[type="radio"] {
    display: none;
}

.slider-controls {
    position: absolute;
    bottom: 95px;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    text-align: center;
    z-index: 10;
}

.slider-controls label {
    display: inline-block;
    vertical-align: top;
    margin: 0 3px;
    width: 4px;
    height: 4px;
    border: 3px solid #ffffff;
    border-radius: 50%;
    background-color: #ffffff;
    cursor: pointer;
}

.slide {
    position: absolute;
    width: 100%;
    height: 415px;
    background-repeat: no-repeat;
    background-position: 100% 10px;
    -webkit-transition: left 0.3s ease;
}

.slides {
    width: 100%;
    float: right;
    vertical-align: top;
}

.slide-text {
    width: 120px;
    padding: 25px 0;
    font-weight: 500;
    line-height: 22px;
    color: #283136;
}

.slide-header {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    font-weight: bold;
}

.slide:nth-child(1) {
    width: 100%;
    background-image: url("../img/slider-1.jpg");
}

.slide:nth-child(2) {
    width: 100%;
    background-image: url("../img/slider-2.jpg");
}

.slide:nth-child(3) {
    width: 100%;
    background-image: url("../img/slider-3.jpg");
}

.btn {
  display: inline-block;
  vertical-align: bottom;
  padding: 11px 40px;
  background-color: #fb565a;
  color: #ffffff;
  cursor: pointer;
  text-decoration: blink;
  font-family: inherit;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  border-radius: 2px;
  border: none;
  outline: none;
}

#btn-1:checked ~ .slides .slide:nth-child(1) {
    display: block;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
    display: block;
}

#btn-3:checked ~ .slides .slide:nth-child(3) {
    display: block;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
    background: #c1c1c1;
}

#btn-1:checked ~ .slides .slide:nth-child(1) {
    left: 0;
}

#btn-1:checked ~ .slides .slide:nth-child(2),
#btn-1:checked ~ .slides .slide:nth-child(3) {
    left: 880px;
    top: -600px;
}

#btn-2:checked ~ .slides .slide:nth-child(1) {
    left: -880px;
    top: -600px;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
    left: 0;
}

#btn-2:checked ~ .slides .slide:nth-child(3) {
    left: -880px;
    top: -600px;
}

#btn-3:checked ~ .slides .slide:nth-child(1) {
    left: -880px;
    top: -600px;
}

#btn-3:checked ~ .slides .slide:nth-child(2) {
    left: -880px;
    top: -600px;
}

#btn-3:checked ~ .slides .slide:nth-child(3) {
    left: 0;
}

.slider-btn {
    box-sizing: border-box;
    width: 240px;
    text-align: center;
}

.slider-btn:hover {
    background-color: #d6494d;
}

.slider-btn:active {
    background-color: #b63538;
    box-shadow: 0 2px 0 0 #9b2d30 inset;
}

/* Продукты */

.product{
    float: left;
    vertical-align: top;
    width: 300px;
    min-height: 350px;
    margin-bottom: 80px;
    font-size: 16px;
    line-height: 24px;
    margin-right: 80px;
}

.product:nth-child(3n+2) {
    margin-left: 0px;
    margin-right: 80px;
}

.product p {
    margin-bottom: 17px;
}

.product-header {
    text-transform: uppercase;
}

.btn-red:hover {
    background-color: #d6494d;
}

.btn-red:active {
    background-color: #b63538;
    box-shadow: 0 2px 0 0 #9b2d30 inset;
}

.btn-green {
  background-color: #00ca74;
}

.btn-green:active {
    background-color: #009053;
    box-shadow: 0 2px 0 0 #007b47 inset;
}

.btn-green:hover {
    background-color: #01a25e;
}

.btn-yellow {
    background-color: #efc84a;
}

.btn-yellow:active {
    background-color: #c09b24;
    box-shadow: 0 2px 0 0 #a3841f inset;
}

.btn-yellow:hover {
    background-color: #d6ae2c;
}

.products {
    border-bottom: 2px solid #eeeeee;
    padding-bottom: 380px;
    font-size: 0px;
}

/* О нас */
/* верх */

.about-us-top {
    width: 100%;
    margin-bottom: 47px;
}

.about-us-top-left {
    float: left;
    width: 680px;
    min-height: 215px;
}

.about-us-top-left .us {
  text-transform: none;
}

.us {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    margin: 0px;
    padding: 0;
    color: #000000;
    font-weight: bold;
}

.about-us-top-right {
    float: right;
    width: 360px;
    min-height: 215px;
}

.nerds-pic {
    margin-right: 20px;
    box-sizing: border-box;
}

/* низ */

.about-us-bottom ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.about-us-bottom .info-order-item{
    position: relative;
    margin-left: 37px;
}

.about-us-bottom .info-order-item::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: -37px;
    content: "";
    width: 25px;
    height: 2px;
    background-color: #fb565a;
}

.about-us-bottom {
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    margin-bottom: 66px;
}

.about-us-bottom-left {
    float: left;
    width: 680px;
}

h2 {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
}

.about-us-bottom-right {
    float: right;
    width: 360px;
}

.precision {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
}

.percent {
    display: block;
    text-transform: uppercase;
    font-size: 45px;
    font-weight: bold;
    padding-bottom: 11px;
}

ul .info-statistics {
    font-size: 0px;
}

.info-statistics-item {
    display: inline-block;
    width: 30%;
    font-size: 16px;
    line-height: 24px;
    color: #283136;
}

/* Клиенты */

.clients {
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 2px solid #eeeeee;
    border-bottom: 2px solid #eeeeee;
    text-align: center;
    font-size: 0;
}

.clients-item {
    width: 255px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    border-right: 2px solid #eeeeee;
}

.clients-item:first-child, 
.clients-item:nth-child(3n+4) {
    margin-left: 20px;
}

.clients-item:nth-child(3n+4) {
    border-right: none;
}

.clients-item img {
    opacity: 0.2;
}

.clients-item img:hover {
    opacity: 1;
} 

.clients-item img:active {
    opacity: 0.5;
}

/* Карта */

.map {
  position: relative;
  width: 100%;
  height: 416px;
  background: url("../img/map-marker.jpg") 50% 50% no-repeat;
  margin-top: 85px;
}

.map-img {
    width: 100%;
    margin:0 auto;
}

/* Контакты */

.contact {
    position:absolute;
    top:90px;
    left:50%;
    width:240px;
    margin-left:-440px;
    padding: 24px 20px;
    background:#fff;    
}

.contact p {
    color:#666666;
    font-size:16px;
    line-height:20px;
    font-weight:300;
    margin: 15px;
}

.contact span {
    margin: 15px;
    font-weight: bold;
}

.btn-write-us {
    margin-top:10px;
    width: 50%;
    text-align:center;
    background:#fb565a;
    margin-left: 15px;
}

.btn-write-us:hover {
    background:#d6494d;
}

.btn-write-us:active {
    background:#b63538;
    box-shadow: 0 2px 0 #9b2d30 inset;
}

/* Подвал */

.social-networks {
    padding-top: 75px;
    padding-bottom: 75px;
}

.social-networks-left-column {
    float: left;
    width: 330px;
    margin-left: 20px;
}

.social-networks-right-column {
    float: left;
    max-width: 550px;
    margin-right: 20px;
}

.social-networks-header{
    margin: 0;
}

.sale {
    color: #283136;
}

.social-btn {
    position: relative;
    float: left;
    margin-right: 30px;
    width: 60px;
    height: 60px;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    background: #e1e1e1;
    font-size: 20px;
    font-weight: bold;
}

.social-btn:hover {
    background-color: #fb565a;
}

.social-btn:active {
    box-shadow: inset 0 3px 0 0 #b63e42;
    background-color: #d6494d;
}

.social-btn-vk::before {
    content: "";
    display: block;
    position: absolute;
    height: 20px;
    width: 1em; 
    color: white;
    background-image: url(../img/vk-icon.png);
    background-repeat: no-repeat;
}

.social-btn-fb::before {
    content: "";
    display: block;
    position: absolute;
    height: 20px;
    width: 1em;
    color: white;
    background-image: url(../img/fb-icon.png);
    background-repeat: no-repeat;
}

.social-btn-inst::before {
    content: "";
    display: block;
    position: absolute;
    height: 20px;
    width: 1em;
    color: white;
    background-image: url(../img/insta-icon.png);
    background-repeat: no-repeat;
}

.social-networks-header {
    font-size: 36px;
    line-height: 36px;
    color: #000000;
    font-weight: bold;
}

/* ===============================================
                    СТРАНИЦА КАТАЛОГА
    ============================================== */

/* Шапка */

.main-header h1 {
  width: 1160px;
  margin: 0 auto;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  padding-top: 85px;
  padding-bottom: 120px;
  font-weight: normal;
  font-weight: bold;
}

.search-options h3 {
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

/* Сортировка */

.catalog-left {
  float: left;
  width: 260px;
  margin-right: 140px;
}

.search-options {
  float: left;
  width: 260px;
}

/* Штуковина с ползунками */

.price {
  width: 260px;
}

.price-filter {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.price-filter .range-controls {
  height: 2px;
  background-color: #d7dcde;
}

.price-filter .bar {
  width: 70%;
  height: 2px;
  background-color: #00ca74;
}

.price-filter .toggle {
  position: absolute;
  top: 30px;
  left: 0;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.price-filter .min-toggle {
  left: 20px;
}

.price-filter .max-toggle {
  left: 155px;
}

.price-span {
    width: 260px;
}

.price-span label {
  font-size: 16px;
  text-transform: uppercase;
}

.price-span input {
  font-family: "Roboto", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  text-align: center;
  color: #283136;
  width: 80px;
  height: 40px;
  margin-left: 8px;
  border: none;
  border-radius: 5px;
  background-color: #f1f1f1;
}

/* Горизонтальный фильтр */

.catalog-right {
  float: left;
  width: 760px;
}

.sort-menu-title {
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: bold;
    padding-right: 198px;
}

.sorting {
    float: left;
    margin-bottom: 16px;
    padding-top: 5px;
    font-size: 0px;
}

.sorting span,
.sorting a {
    display: inline-block;
    vertical-align: baseline;
    margin-right: 40px;
}

.sorting a:hover {
    color: black;
    opacity: 0.3;
}

.sorting a:active {
    color: black;
}

.sort-menu-up-down {
    float: right;
}

.sort-menu-up-down a {
    text-decoration: none;
}

.sort-menu-up-down a:hover {
    border-bottom-style: none;
}

a.sort-menu-icon-up {
    margin-right: 0;
    text-align: right;
}

a.sort-menu-icon-down {
    margin-right: 10px;
    text-align: right;
}

a.btn-checked::before,
a.btn-checked:hover::before {
    color: #000000;
}

.sort-menu-icon-up::before {
    font-family: symbols-nerds;
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    vertical-align: baseline;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    content: "\25b2";
    color: #c1c1c1;
}

.sort-menu-icon-up:active::before,
.sort-menu-icon-down:active::before {
    content: "";
    display: block;
    color: black;
}

.sort-menu-icon-up:hover::before,
.sort-menu-icon-down:hover::before {
    color: #b5b5b5;
    content: "";
    display: block;
}

.sort-menu-icon-down::before {
    content: "";
    display: block;
    font-family: symbols-nerds;
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    vertical-align: baseline;
    margin-right: 0;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    content: "\25bc";
    color: #c1c1c1;
}

.sort-menu-item {
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
}

.sorting span {
    color: black;
}

/* Каталог */

.card-product-item {
    position: relative;
    display: inline-block;
    content: "";
    top: 30px;
    margin-bottom: 360px;
    text-decoration: none;
}

.card-product-item::after {
    position: absolute;
    top: -25px;
    left: 10px;
    font-size: 45px;
    content: "•••";
    color: white;
}

.card-product-item::before {
    position: absolute;
    top: -30px;
    width: 360px;
    height: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #f1f1f1;
    content: "";
}

.card-product-item:hover::before {
    position: absolute;
    top: -30px;
    width: 360px;
    height: 30px;
    background: #797979;
    content: "";
}

.card-product-item:hover > .description {
    display: block;
}

.description {
    position: absolute;
    top: 345px;
    display: none;
    width: 360px;
    min-height: 230px;
    background-color: #f1f1f1;
    text-align: center;
}

.description-title {
    margin-top: 35px;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.description-text {
    padding: 0 90px;
    color: #666666;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    margin-top: 25px;
}

.description-btn {
    width: 120px;
    /*height: 50px;*/
    margin: 0 auto;
    margin-left: 10px;
    border: none;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    margin-top: 30px;
}

.card-product-item:nth-child(2n) {
    margin-right: 0px;
}

/* Пагинация */

.catalog-right .page-navigation  {
    font-size: 0;
}

.page-navigation li {
    display: inline-block;
    margin-right: 11px;
}

.page-navigation a {
  display: block;
  padding: 18px 20px;
  border-radius: 3px;
  background: #f1f1f1;
  color: #000000;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

.page-navigation .page-navigation-next {
  padding: 18px 78px;
}

.page-navigation .page-navigation-active a {
  background: #ffffff;
  border: 3px solid #f1f1f1;
}

/* Форма отправки */

.write-us {
    position: fixed;
    display: none;
    width: 960px;
    top: 25%;
    left: 18%;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 180px;
    box-shadow: 0 20px 40px 0 rgba(0, 1, 1, .75);
    background: white;
    z-index: 1000;
}

.write-us-show {
    display: block;
    -webkit-animation: bounce 0.6s;
    animation: bounce 0.6s;
}

.write-us-left-column{
    float: left;
    width: 360px;
}

.write-us-right-column input,
.write-us-left-column input {
    width: 360px;
    border: 2px solid #d7dcde;
    border-radius: 4px;
}

.write-us-right-column {
    float: right;
    width: 380px;
}

.write-us textarea {
    width: 760px;
    padding-bottom: 15px;
    margin-bottom: 45px;
}

.write-us input,
.write-us textarea {
    padding: 8px 15px;
    border: 2px solid #d7dcde;
    border-radius: 4px;
    outline: none;
}

.write-us input:hover,
.write-us textarea:hover {
    border: 2px solid #a2a9ac;
    border-radius: 4px;
}

.write-us input:focus,
.write-us textarea:focus {
    border: 2px solid #56bffb;
    border-radius: 4px;
}

.write-us label {
    margin-bottom: 11px;
}

.write-us-form {
    margin-bottom: 20px;
}

.write-us-btn,
.cancel-btn {
    padding-top: 11px;
    padding-bottom: 11px;
}

.write-us-form-btn .write-us-btn {
    float: left;
    width: 260px;
}

.cancel-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    z-index: 10;
}

.cancel-btn::after {
    position: absolute;
    top: 17px;
    left: 8px;
    width: 25px;
    height: 5px;
    transform: rotate(45deg);
    background: white;
    font-size: 40px;
    font-weight: normal;
    content: "";
    color: #d51111;
}

.cancel-btn::before {
    position: absolute;
    top: 17px;
    left: 8px;
    width: 25px;
    height: 5px;
    transform: rotate(-45deg);
    background: white;
    font-size: 40px;
    font-weight: normal;
    content: "";
    color: #d51111;
}